body {
    padding: 0px;
    z-index: 0;
    animation: slideshow infinite linear 30s;
}

.slideshow-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.center-paragraph {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: sans-serif;
    color: white;
    font-weight: 700;
    align-items: center;
    gap: 10px;
}

.center-title {
    font-size: 50px;
    font-weight: 550;
}

.center-text, .center-text-2 {
    max-width: 640px;
    font-size: 23px;
    font-weight: 600;
}

#start-for-free {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size:x-large;
    width: 200px;
    background-color: white;
    padding: 20px;
    text-decoration: none;
    /* border: 1px solid white; */
    border-radius: 2.5px;
    font-weight: 700;
    margin-top: 50px;
    color: black;

}

#start-for-free:hover {
color: darkgray;
transition: color .5s;
}

.footer {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    left:0;
    font-family: sans-serif;
    margin-top: 10px;
    position:fixed;
    height: 55px;
    width: 100vw;
    background-color: black;
    align-items: center;
    color: darkgray;
}

.footer a {
    color: rgb(211, 211, 211, 0.25);
    text-decoration: none;
}

.github-link a {
    color: inherit;
   background-color: rgb(211, 211, 211, 0.25);
   padding: 3px;
   border-radius: 5px;
}

.footer a:hover {
    color: white;
}


@keyframes slideshow {

    0%   {background-image: url("https://res.cloudinary.com/xanderg/image/upload/v1641754108/british-beer-1920x1080_xn7qvj.jpg");}
    25%  {background-image: url("https://res.cloudinary.com/xanderg/image/upload/v1641754128/girl_kuhol_beer_meadow_barley_77286_1920x1080_cu3kp3.jpg");}
    50%  {background-image: url("https://res.cloudinary.com/xanderg/image/upload/v1641754146/o741849_zcafxa.jpg");}
    75% {background-image: url("https://res.cloudinary.com/xanderg/image/upload/v1641754161/C1YklP_yjesdc.jpg");}
    100% {background-image: url("https://res.cloudinary.com/xanderg/image/upload/v1641754176/thumb-1920-616588_om2ubv.jpg");}

}