.form {
    display: flex;
    width: 300px;
    height: 350px;
    margin-top: 15vw;
    margin-left: 40vw;
    box-sizing: border-box;
    flex: auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: sans-serif;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

form {
    box-sizing: border-box;
    position: fixed;
}

@media screen and (max-width: 600px) {
    .form {
        justify-content: center;
        align-items: center;
        margin-left: 20%;
        margin-top: 250px;
    }
    .icon {
        content-visibility: hidden;
    }
    .signup-link {
        width: 250px;
    }
}

.content-container {
    margin-top: 55px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.icon {
    height: 35px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.login-title {
    display: flex;
    margin-bottom: 20px;
    margin-top: 0px;
    justify-content: center;
    font-weight: 300;
}


.usernameInput, .passwordInput {
    height: 25px;
    border: 1px solid #161414;
    border-radius: 2.5px;
    justify-content: center;
    align-self: center;
    padding: 3px;
    padding-right: 100px;
}

.usernameInput:focus {
    border: 1px solid rgb(14, 114, 176);
}

.passwordInput:focus {
    border: 1px solid rgb(14, 114, 176);
}

.loginBtn {
    display: flex;
    justify-content: center;
}

button[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: rgb(14, 114, 176);
    border: 1px solid rgb(14, 114, 176);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100px;
}

button[type="submit"]:hover {
    background: rgb(28, 121, 179);
}

.signup-link {
    align-content: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 15px;
}

a:link {
    text-decoration: none;
}

.bg {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    margin-top: 0px;
    /* padding: 0%; */
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(https://images.alphacoders.com/823/823062.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    display: flex;
    justify-content: center;
    align-content: center;
    color: red;
    overflow: hidden;
}

*{ margin: 0; padding: 0; box-sizing: border-box;}