.my-photos-bg {
    z-index: -1;
    background-image: url("../../../images/my-photos-beer.jpg");
    height: 100vw;
    width: 100vw;
    background-repeat: no-repeat;
   position: fixed;
}

.my-photos-container {
    z-index: -1;
    position: fixed;
    margin-left: 12vw;
    margin-top: 119px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position:center;
    width: 75vw;
    height: 80vw;
    scroll-behavior: smooth;
}

.my-photos-header {
    z-index: 150;
    color: white;
    font-family: sans-serif;
    position: fixed;
    margin-left: 17vw;
    margin-top: 10vw;
}

.add {
    z-index: 150;
    color: white;
    font-family: sans-serif;
    position: fixed;
    background-color:rgb(28, 121, 179) ;
    padding: 5px;
    border-radius: 5px;
    margin-left: 21vw;
    margin-top: 14vw;
}

.add:hover {
    background: rgb(45, 138, 196);
}

.delete {
   width: auto;
   height: auto;
   margin-left: 10px;
}

.edit {
    margin-top: 12px;
    color: white;
    font-family: sans-serif;
    /* position: fixed; */
    background-color:rgb(28, 121, 179) ;
    padding: 6px;
    border-radius: 5px;
}

.my-photos-images {
    z-index: 1;
    display: flex;
    flex-direction: column;
   align-items: center;
   font-family: sans-serif;
   padding-top: 50px;
   margin: auto;
   /* margin-bottom: 5vw; */
   /* gap: 50px; */
}

.my-photos-spread {
   max-width: 400px;
}
