.signup-bg {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    margin-top: 0px;
    /* padding: 0%; */
    position: fixed;
    height: 1080px;
    width: 1920px;
    background-image: url("../../../images/signup-beer.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.signup-form {
    display: flex;
    min-width: 400px;
    width: 400px;
    height: 500px;
    margin: 0px;
    margin-top: 12vw;
    margin-left: 40vw;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: sans-serif;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    color: black;
}

@media screen and (max-width: 600px) {
.signup-form {
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
    margin-top: 250px;
}
.signup-icon {
content-visibility: hidden;
}
}

.signup-form2 {
    position: fixed;
    align-items: center;
    justify-content: center;
}

.signup-title {
    display: flex;
justify-content: center;
font-weight: 300;
margin-bottom: 20px;
}

.signup-icon {
    height: 35px;
}

.signup-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    width: 258px;
    height: 350px ;
}

.signup-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.email-input, .username-input, .password-input, .c-password-input {
    height: 25px;
    border: 1px solid #161414;
    border-radius: 2.5px;
    justify-content: center;
    align-self: center;
    padding: 3px;
    padding-right: 100px;
}

.email-input:focus {
    border: 1px solid rgb(14, 114, 176);
}

.username-input:focus {
    border: 1px solid rgb(14, 114, 176);
}

.password-input:focus {
    border: 1px solid rgb(14, 114, 176);
}

.c-password-input:focus {
    border: 1px solid rgb(14, 114, 176);
}

.signupBtn {
    align-self: center;
    cursor: pointer;
    font-size: 15px;
    background: rgb(14, 114, 176);
    color: #fff;
    border-radius: 5px;
}

.signupBtn:hover {
    background: rgb(28, 121, 179);
}

.login-link {
    align-content: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 15px;
}

.signup-errors {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: sans-serif;
    align-content: center;
    color: red;
    width: 250px ;
    overflow: hidden;
}

*{ margin: 0; padding: 0; box-sizing: border-box;}