.signup-nav {
    display: flex;
    font-family: sans-serif;
    width: 100vw;
    height: 50px;
    align-items: center;
    /* text-indent: 0%; */
    /* margin-left: 10vw; */
    background-color: rgb(22, 20, 20);
}

.signup-nav-icon {
    height: 30px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    margin-left: 200px;
}

.signup-bg {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: 0px;
    margin-top: 0px;
    /* padding: 0%; */
    position: fixed;
    height: 1080px;
    width: 1920px;
    background-image: url(https://images.pexels.com/photos/5858069/pexels-photo-5858069.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.signup-form {
    display: flex;
    min-width: 400px;
    width: 400px;
    height: 425px;
    margin: 0px;
    margin-top: 12vw;
    margin-left: 40vw;
    box-sizing: border-box;
    flex: auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: sans-serif;
    background-color: rgb(22, 20, 20);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

@media screen and (max-width: 600px) {
.signup-form {
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
    margin-top: 250px;
}
.signup-icon {
content-visibility: hidden;
}
}

.signup-form2 {
    box-sizing: border-box;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.signup-icon {
    height: 35px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.signup-input-container {
    margin-top: 55px;
    width: 258px;
    height: 350px ;
    /* width: auto;
    height: auto; */
    overflow: hidden;
}

.signup-title {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.signup-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.email-input, .username-input, .password-input, .c-password-input {
    height: 25px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: auto;
    justify-content: center;
    align-self: center;
}

.email-input:focus {
    border: 3px solid rgb(14, 114, 176);
}

.username-input:focus {
    border: 3px solid rgb(14, 114, 176);
}

.password-input:focus {
    border: 3px solid rgb(14, 114, 176);
}

.c-password-input:focus {
    border: 3px solid rgb(14, 114, 176);
}

.signupBtn {
    display: flex;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    margin-left: 70px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: rgb(14, 114, 176);
    border: 1px solid rgb(14, 114, 176);
    color: #fff;
    /* padding: 10px 20px; */
    border-radius: 5px;
    width: 100px;
}

.signupBtn:hover {
    background: rgb(28, 121, 179);
}

.login-link {
    align-content: center;
    justify-content: center;
    margin-top: 25px;
    font-size: 15px;
}

.signup-errors {
    display: flex;
    gap: 8px;
    border-radius: 5px;
    font-family: sans-serif;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* margin-left: 43vw; */
    /* margin-top: 10vw; */
    /* margin-bottom: 50px ; */
    color: red;
    width: 250px ;
    overflow: hidden;
    /* background-color:rgb(22, 20, 20);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

*{ margin: 0; padding: 0; box-sizing: border-box;}